/* Fonte */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section{
    width: 100%;
    background-color: #f1f3f5;
}

.container{
    min-height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.title--container{
    margin-bottom: 20px;
    width: 50%;
    border-bottom: 1px solid #2b8a3e;
}

.title--container h1{
    color: #2b8a3e;
}

.image--container{

    width: 600px;
    height: 400px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0, .075);
    transition: 0.3s ease;
}   

.image--container:hover{
    box-shadow: 0 .5rem 1rem rgba(0,0,0, .15);
}

.btn--container{
    width: 100%;
}

.btn {
    width: 40%;
}

.simbolo{
    font-size: 40px;
    color: #2b8a3e;
}

.image{
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

.content--container{
    width: 40%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.pre--loader{
    width: 120px;
    height: 120px;
    background-image: url('../images/pre-loader.png');
    background-position: center;
    background-size: contain;
    animation: load 2s infinite;
    z-index: 10;
}

.hidden{
    display: none;
}

.content h3{
    font-size: 25px;
    margin: 0;
    margin-top: 10px;
}

.content span{
    font-size: 20px;
}

/* keyframe pre-loader */

@keyframes load {
    
    to{
        transform: rotate(360deg);
    }

}

/* Media Query */

@media only screen and (max-width: 425px) {
    
    .image--container{
        width: 300px;
        height: 300px;
    }

    .content{
        width: 100%;
    }

    .content h3{
        font-size: 18px;
    }

    .content span{
        font-size: 15px;
    }

    .btn{
        width: 50%;
    }

}